body{
	background-color:#F4EDE5;
	margin:0;
}
div{
	width:100px;
	height:100px;
	position:absolute;
	top:25%;
	left:50%;
}
span{
	width:40%;
	height:40%;
	position:absolute;
	border-radius:50%;
	display:block;
	box-shadow:2px 2px 3px rgba (0,0,0,.4);
	animation:span 2s infinite ease-in-out;
}
.a1{
	background-color:#F3B222;
	animation-delay:1.5s;
}
.a2{
	background-color:#F0653E;
	animation-delay:1s;
}
.a3{
	background-color:#B9C0C0;
	animation-delay:0.5s;
}
.a4{
	background-color:#8F7473;
}
@keyframes span{
	0%{transform:translate(0); border-radius:50%;}
	25%{transform:translate(150%) scale(0.5); border-radius:0%;}
	50%{transform:translate(150%, 150%); border-radius:50%;}
	75%{transform:translate(0%, 150%) scale(0);border-radius:0%;}
}